<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="assets/css/admin.css">

</head>

<body>

<div class="container">
    <table id="customers">
    <h1>Administration</h1>
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Email</th>
      <th>Date</th>
      <th>Service</th>
      <th>Amount</th>
      <th>Operation</th>
    </tr>
    <tr>
      <td>Cruise</td>
      <td>Tom</td>
      <td>tc.gmail.com</td>
      <td>2020-03-04</td>
      <td>walk the cat</td>
      <td>30</td>
      <td> <button class="button">Edit</button>
           <button class="button">Delete</button>

      </td>
    </tr>

    </table>

</div>
</body>





</html>
