<!doctype html>
<html lang="en">

<head>
  <title>Appointment</title>
  <link rel="stylesheet" type="text/css" href="assets/css/appointmentcss.css">
</head>

<body>


  <div class="step_container">
    <ul class="progressbar">
      <li class="active">Appoiment</li>
      <li>Check Out</li>
      <li>Success</li>
    </ul>
  </div>

  <div class="page">
    <h1>Make an appointment</h1>
    <h2>Appintment Date</h2>
    <!-- <form action="" method="post" role="form" class="contactForm"> -->
    <label for="starttime">Start from (date and time):</label>
    <input type="datetime-local" id="startfm" name="startfm" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" close-on-select="false" ng-model="appointment.shopData.startfm">
    <p></p>
    <label for="endtime">End at (date and time):</label>
    <input type="datetime-local" id="endat" name="endat" ng-model="appointment.shopData.endat">

    <!--
<h2>Services</h2>
<table>
  <tr>
    <th>Services</th>
    <th>Prices</th>
    <th></th>
  </tr>
  <tr>
    <td>Walk the cat</td>
    <td>$50</td>
	<td>
    <input type="checkbox" id="service1" name="service1" value="walk">
    </td>
  </tr>
  <tr>
    <td>Feed the cat</td>
    <td>$50</td>
    <td>
    <input type="checkbox" id="service2" name="service2" value="feed">
    </td>
  </tr>
  <tr>
    <td>Bring the cat to hospital</td>
    <td>$50</td>
    <td>
    <input type="checkbox" id="service3" name="service3" value="hospital">
    </td>
  </tr>
  
</table>
-->
    <p></p>
    <h2>Gender of our services staff(optional):</h2>
    <input type="checkbox" id="female" name="service4" value="female" ng-model="appointment.shopData.female">
    <label for="vehicle1">Female</label>
    <input type="checkbox" id="male" name="service4" value="male" ng-model="appointment.shopData.male">
    <label for="vehicle1">Male</label>

    <p></p>

    <h2>The way to perform the services</h2>
    <div class="custom-select" style="width:280px;">
      <select>
        <option value="0">Select a way:</option>
        <option value="1">We went to your home to serve</option>
        <option value="2">Bring the cat(s) to our store</option>

        
      </select>
    </div>





    <!--==========================
    shopping cart
  ============================-->
    <!-- <div ng-init='load()'> -->
    <h2>Shopping Cart</h2>
    <table id='list'>
      <tr>
        <!--文本th-->
        <th>Services</th>
        <th>Price(per hour)</th>
        <th>Operation</th>
      </tr>
      <tr>
        <td>Feed the cat</td>
        <td>20</td>
        <td align="center">
          <input type="button" value="Add to the cart" ng-click="appointment.add_shoppingcar(1)" />
        </td>
      </tr>
      <tr>
        <td>Walk the cat</td>
        <td>30</td>
        <td align="center">
          <input type="button" value="Add to the cart" ng-click="appointment.add_shoppingcar(2)" />
        </td>
      </tr>
      <tr>
        <td>Bring the cat to the hospital</td>
        <td>35</td>
        <td align="center">
          <input type="button" value="Add to the cart" ng-click="appointment.add_shoppingcar(3)" />
        </td>
      </tr>

    </table>
    <h2> Details</h2>
    <table>
      <thead>
        <tr>
          <th>Service</th>
          <th>Price</th>
          <!-- <th>Hours</th> -->
          <!--<th>Price</th> -->
          <th>Delete</th>
        </tr>
      </thead>
      <tbody id="goods">
        <!--<tr>
    <td>面膜</td>
    <td>150</td>
    <td align="center"> 
      <input type="button" value="-" id="jian" onclick="change(this,-1);"/>-->
        <!--readonly规定输入字段为只读-->
        <!--<input id="text" type="text" size="1" value="1" readonly="readonly" />
      <input type="button" value="+" id="add" onclick="change(this,1);"/>
    </td>
    <td> <input id="money" size="1" value="80"></input></td>
    <td align="center">
      <input type="button" value="X" onclick="del(this)" />
    </td>
    </tr>-->
      </tbody>
      <tfoot>
        <tr>
          <td colspan="1" align="right">Grand total</td>
          <td id="total"></td>
          <td>dollars</td>
        </tr>
      </tfoot>
    </table>
    <h2>Comments</h2>
    <div id='message'>
      <div class="form-group">
        <textarea class="form-control" name="message" rows="5" data-rule="required"
          data-msg="Please write something for us" placeholder="Write something.." ng-model="appointment.shopData.text"></textarea>
        <div class="validation"></div>
      </div>
      <div class="row">
        <!-- <a href="/checkout"> -->
          <input type="submit" class="btn-checkout" value="Next"
            ng-click="appointment.setShoppingCart(appointment.shopData);">
          <!-- </a> -->
      </div>
    </div>
    <!-- </form> -->
    <!-- </div> -->
    <p></p>
  </div>
  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; <strong>DEVELOPED BY TEAM 27</strong>
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#intro" class="scrollto">Home</a>
            <a href="#about" class="scrollto">About</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- #footer -->

  <!-- <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a> -->

  <!-- <script type="text/javascript">
    //this js中指当前对象
    scope.add_shoppingcar = function(btn) {
      var tr = btn.parentNode.parentNode;
      var tds = tr.getElementsByTagName("td");
      var name = tds[0].innerHTML;
      var price = tds[1].innerHTML;
      var tbody = document.getElementById("goods");
      var row = tbody.insertRow();//insertRow表格开头插入新行
      row.innerHTML = "<td>" + name + "</td>" +
        "<td>" + price + "</td>" +
        "<td align='center'>" +
        "<input type='button' value='-' id='jian'  onclick='change(this,-1)'  />" +
        "<input id='text' type='text' size='1' value='1' readonly='readonly' />" +
        "<input type='button' value='+' id='add'  onclick='change(this,1)'  />" +
        "</td>" +
        "<td>" + price + "</td>" +
        "<td align='center'>" +
        "<input type='button' value='X' onclick='del(this)'/>" +
        "</td>" +
        "</tr>"
      total();
    }
    //增加减少数量，用n正负1来表示点击了加减按钮
    function change(btn, n) {
      //获取数量的三个input对象
      var inputs = btn.parentNode.getElementsByTagName("input");
      //获取原来的数量
      var amount = parseInt(inputs[1].value);
      //当amount=1时不能再点击"-"符号
      //用n<0来表示点击了减button
      if (amount <= 1 && n < 0) {
        return;
      }
      //根据加减来改变数量
      inputs[1].value = amount + n;
      //将改变后的数量值赋值给amount
      amount = inputs[1].value;
      //获取表格中的行
      var tr = btn.parentNode.parentNode;
      //获取所有的列
      var tds = tr.getElementsByTagName("td");
      //获取单价
      var price = parseFloat(tds[1].innerHTML);
      //总价=单价*数量
      var m = price * amount;
      //将总价赋值给相应的位置
      tds[3].innerHTML = m;
      //调用total方法，求总计
      total();
    }

    function total() {
      var tbody = document.getElementById("goods");
      var trs = tbody.getElementsByTagName("tr");
      var sum = 0;
      for (var i = 0; i < trs.length; i++) {
        var tds = trs[i].getElementsByTagName("td");
        var m = tds[3].innerHTML;
        sum += parseFloat(m);
      }
      var total = document.getElementById("total");
      total.innerHTML = sum;
    }
    function del(i) {
      var tr = i.parentNode.parentNode;
      tr.parentNode.removeChild(tr);
      //tr.remove(tr);
      total();
    }
  </script> -->
</body>

</html>