<link rel="stylesheet" type="text/css" href="assets/css/home.css">


<!--==========================
    Header
  ============================-->
<header id="header">
  <div class="container">

    <div id="logo" class="pull-left">
      <a href="#intro" class="scrollto"><img src="assets/img/logo.png" alt="" title="" height="53" width="53"></a>
      <h1><a href="#intro" class="scrollto">Catmint</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->

    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a href="#intro">Home</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="#gallery" class="scrollto">Gallery</a></li>
        <li><a href="#contact">Contact Us</a></li>
        <li><a ng-show="!main.isLoggedIn" href="/login">Log In</a></li>
        <li><a ng-show="!main.isLoggedIn" href="/register">Sign Up</a></li>
        <li><a ng-show="main.isLoggedIn" href="/profile">Hello {{ main.username }}</a></li>
        <li><a ng-show="main.isLoggedIn" href="#" ng-click="main.logout();">Signout</a></li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header>

<!-- #header -->

<!--==========================
    Intro Section
  ============================-->
<section id="intro">

  <div class="intro-text">
    <h2>Welcome to Catmint</h2>
    <p>We provide the best services in the town</p>
    <a href="#about" class="btn-get-started scrollto">Get Started</a>
  </div>

  <div class="product-screens">

    <div class="product-screen-1 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.6s">
      <!-- <img src="assets/img/greeting_small.png" alt="">-->
    </div>

    <!-- <div class="product-screen-2 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.6s">
        <img src="img/product-screen-2.png" alt="">
      </div>

      <div class="product-screen-3 wow fadeInUp" data-wow-duration="0.6s">
        <img src="img/product-screen-3.png" alt="">
      </div> -->

  </div>

</section><!-- #intro -->

<main id="main">

  <!--==========================
      About Us Section
    ============================-->
  <section id="about" class="section-bg">
    <div class="container-fluid">
      <div class="section-header">
        <h3 class="section-title">About Us</h3>
        <span class="section-divider"></span>
        <p class="section-description">
          Catmint cat-sitters (CCS) is a cat service company that started in 2020 and located in College Station, TX.
        </p>
      </div>

      <div class="row">
        <div class="col-lg-6 about-img wow fadeInLeft">
          <img src="assets/img/about_us-img.jpg" alt="">
        </div>

        <div class="col-lg-6 content wow fadeInRight">
          <div class="pfont">
            <h2>We take care of your cats like our babies</h2>
          </div>
          <h3>We love cats so much! We provide professional care to
            your cats including feed and play. Also, we have
            wonderful and comfortable rooms for your cat if you
            need to be out of town. Can’t wait to meet your cats.
            Texting or calling us for more information.</h3>
          <p>
            Currently, operations at CCL are conducted mainly by hand. The customer services will receive a phone
            call from the customer and record their needs. After that, they will match the cat sitters to customers
            according to their request. After several interviews and their frequent customer, they decided that the
            website and mobile phone must have the following function:
          </p>

          <ul>
            <li><i class="ion-android-checkmark-circle"></i> Your account</li>
            <li><i class="ion-android-checkmark-circle"></i> Trace the pet service records</li>
            <li><i class="ion-android-checkmark-circle"></i> Make a Appointment</li>
          </ul>
          <p>
          </p>
        </div>
      </div>

    </div>
  </section><!-- #about -->


  <!--==========================
      Gallery Section
    ============================-->
  <section id="gallery">
    <div class="container-fluid">
      <div class="section-header">
        <h3 class="section-title">Gallery</h3>
        <span class="section-divider"></span>
        <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
          doloremque</p>
      </div>

      <div class="row no-gutters">

        <div class="col-lg-4 col-md-6">
          <div class="gallery-item wow fadeInUp">
            <a href="assets/img/gallery/gallery-1.jpg" class="gallery-popup">
              <img src="assets/img/gallery/gallery-1.jpg" alt="">
            </a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="gallery-item wow fadeInUp">
            <a href="assets/img/gallery/gallery-2.jpg" class="gallery-popup">
              <img src="assets/img/gallery/gallery-2.jpg" alt="">
            </a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="gallery-item wow fadeInUp">
            <a href="assets/img/gallery/gallery-3.jpg" class="gallery-popup">
              <img src="assets/img/gallery/gallery-3.jpg" alt="">
            </a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="gallery-item wow fadeInUp">
            <a href="assets/img/gallery/gallery-4.jpg" class="gallery-popup">
              <img src="assets/img/gallery/gallery-4.jpg" alt="">
            </a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="gallery-item wow fadeInUp">
            <a href="assets/img/gallery/gallery-5.jpg" class="gallery-popup">
              <img src="assets/img/gallery/gallery-5.jpg" alt="">
            </a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="gallery-item wow fadeInUp">
            <a href="assets/img/gallery/gallery-6.jpg" class="gallery-popup">
              <img src="assets/img/gallery/gallery-6.jpg" alt="">
            </a>
          </div>
        </div>

      </div>

    </div>
  </section><!-- #gallery -->

  <!--==========================
      Team Page Section
    ============================-->
  <section id="team">
    <div class='rowt'>
      <div class='column'>
        <div class='card'>
        <img src="assets/img/team/Weng_Hao-Ling.jpg" alt="HLW" style="width:100%" >
        <div class="container">
          <h1>Hao-Ling Weng</h1>
          <p class="title">CEO &amp; Founder</p>
          <!--
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
          <p><button class="button">Contact</button></p>-->
        </div>
      </div>
      </div>


      <div class="column">
        <div class="card">
          <img src="assets/img/gallery/gallery-6.jpg" alt="QLZ" style="width:100%">
          <div class="container">
            <h1>Qilong Zhu</h1>
            <p class="title">Art Director</p>
            <!--
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>example@example.com</p>
            <p><button class="button">Contact</button></p>-->
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="assets/img/gallery/gallery-6.jpg" alt="YFZ" style="width:100%">
          <div class="container">
            <h1>Yifan Zhang</h1>
            <p class="title">Designer</p>
            <!--
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>example@example.com</p>
            <p><button class="button">Contact</button></p>-->
          </div>
        </div>
      </div>
    </div>

    

    






  </section>





  <!--==========================
      Contact Section
    ============================-->
  <section id="contact">
    <div class="container">
      <div class="row wow fadeInUp">

        <div class="col-lg-4 col-md-4">
          <div class="contact-about">
            <h3>Catmint</h3>
            <p>Cras fermentum odio eu feugiat. Justo eget magna fermentum iaculis eu non diam phasellus. Scelerisque
              felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="info">
            <div>
              <i class="ion-ios-location-outline"></i>
              <p>210 Olsen Blvd<br>College Station, TX 77843</p>
            </div>

            <div>
              <i class="ion-ios-email-outline"></i>
              <p>contactus@catmint.com</p>
            </div>

            <div>
              <i class="ion-ios-telephone-outline"></i>
              <p>+1 979 1212 333</p>
            </div>

          </div>
        </div>

        <div class="col-lg-5 col-md-8">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-row">
                <div class="form-group col-lg-6">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                    data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group col-lg-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                    data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                  data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required"
                  data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
            </form>
          </div>
        </div>

      </div>

    </div>
  </section><!-- #contact -->

</main>

<!--==========================
    Footer
  ============================-->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-lg-left text-center">
        <div class="copyright">
          &copy; <strong>DEVELOPED BY TEAM 27</strong>
        </div>
      </div>
      <div class="col-lg-6">
        <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
          <a href="#intro" class="scrollto">Home</a>
          <a href="#about" class="scrollto">About</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Terms of Use</a>
        </nav>
      </div>
    </div>
  </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>