  <!--==========================
    Header
  ============================-->
  <header id="header" ng-show="false">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#intro" class="scrollto"><img src="assets/img/logo.png" alt="" title="" height="53" width="53"></a>
        <h1><a href="#intro" class="scrollto">Catmint</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/">Home</a></li>
          <li><a href="appointment.html">Appointment</a></li>
          <li><a href="login2.html">Sign In</a></li>
          <li><a href="#contact">Sign Up</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->


  <!--==========================
    Intro Section
  ============================-->
  <section id="service_intro" ng-show='false'>

    <div class="intro-text">
      <!-- <h2>Welcome to Catmint</h2>
      <p>We provide the best services in the town</p> -->
      <a href="/appointment" class="btn-get-started scrollto">Make an appointment</a>
    </div>

  </section><!-- #intro -->

  <main id="main">

<!-- ======= Advanced Featuress Section ======= -->
    <section id="advanced-features">

      <div class="features-row section-bg">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <img class="advanced-feature-img-right wow fadeInRight" src="assets/img/services/image_04.jpg" alt="">
              <div class="wow fadeInLeft">
                <h1>Walk the cat</h1>
                <p>Need a helper to walk your cat? We'd love to help you! We provide cat harnesses with various materials, which can make your cat comfortable. Also, we'll walk your cat in a safe place to prevent fighting from dogs and cats. Moreover, we'll offer small snacks to your cat every walk with no charge.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="features-row">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <img class="advanced-feature-img-left" src="assets/img/services/image_05.jpg" alt="">
              <div class="wow fadeInRight">
                <h1>Feed the cat</h1>
                <p>If you have a vacation, we are here to feed your cat. We provide excellent cat food to your cat. Also, if you have special request, please let know and we will do our best.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="features-row section-bg">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <img class="advanced-feature-img-right wow fadeInRight" src="assets/img/services/image_06.jpg" alt="">
              <div class="wow fadeInLeft">
                <h1>To the hospital</h1>
                <p>If you go to a vacation, and your cat need to see a doctor, we are here to help you. We'll go to your home and pick up your cat. We'll send to the designated hospital and send the doctor's message to you. Please call us to ask for more information!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Advanced Featuress Section -->
</main>


  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; <strong>DEVELOPED BY TEAM 27</strong>
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#intro" class="scrollto">Home</a>
            <a href="#about" class="scrollto">About</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- #footer -->
