<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>success</title>
<link rel="stylesheet" type="text/css" href="assets/css/success.css">
</head>
<body>

  <center><div class="step_container">
       <ul class="progressbar">
          <li >Appoiment</li>
          <li >Check Out</li>
          <li class="active">Success</li>
       </ul>
  </div></center>

<div class="container">
	<img src="assets/image/logo.png" alt="logo">
	<div class="jumbotron text-center">
	  <h1 class="display-3">Thank You!</h1>
		<p class="lead"><strong>Cat high fives! Meow! Your request is completed. </strong> </p>

		<a href="/"><input type="submit" value="Continue to homepage" class="btn"></a>
	</div>
</div>

</body>
</html>
